*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;

}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

html{
    font-size: 100%;
}
header{
    background-color: black;
    width:100%;
    height:auto;
    color:white;
    
}
.navbar{
    width:100%;
    display: flex;
    padding:1rem ;
    justify-content: space-evenly;
    align-items: center;
}
.logo h1{
    font-size: 5.5rem;
    color:white;
    font-weight: bold;
}
.logo h1 span{
    color:cornflowerblue
}
.list {
    display: flex;
}
.list ul {
    display: flex;
    position: relative;
}
.list ul li {
    list-style: none;
    padding:1.2rem 1.5rem;
}
.list ul li a{
    text-decoration: none;
    color:white;
    font-size: 2.4rem;
    text-transform: capitalize;
}
.list ul li a:hover{
    border-bottom: 2px solid rgb(126, 163, 231);
}
.social img{
    width:14rem;
}
.base-row{
    width:100%;
    padding: 5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.base-col-1{
    flex-basis: 50%;
    padding-left: 15rem;
}
.base-col-1 img{
    width:130%;
}
.base-col-2{
    flex-basis: 50%;
  
    padding-right: 3rem;
}
.base-col-2 h2{
    margin-bottom: 0.5rem;
    font-size: 3.4rem;
}
.base-col-2 h1{
    margin-bottom: 0.5rem;
    font-size: 5.5rem;
    color:cornflowerblue;
}
.base-col-2 p{
    font-size: 2rem;
    width:70%;
    line-height: 2.7rem;
    margin-bottom: 0.7rem;
}
.btn{
    background-color: transparent;
    font-size: 1.8rem;
    color:cornflowerblue;
    cursor: pointer;
    margin-top: 1rem;
    padding:1rem 1.5rem;
    border-radius: 9px;
    border:1px solid  cornflowerblue;
    transition: all 0.3s ease;
}
#about{
    width:100%;
}
.about-row{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:3rem;
}
.about-col-1{
    flex-basis: 50%;
 
    max-width: 60rem;
}
.about-col-1 h1{
    font-size: 6rem;
    font-weight: 200;
}
.about-col-1 h1 span{
    color:cornflowerblue;
}
.about-col-1 h2{
    font-size: 2rem;
    margin:1rem 0rem;
}
.about-col-1 p{
    margin:1rem 0rem;
    font-size: 2rem;
}
.about-col-2{
    flex-basis: 50%;
    max-width: 60rem;
  
}
.about-col-2 img{
    width:90%;
}
.c-btn{
    background-color: cornflowerblue;
    color:white;
    margin:2rem 0rem;
    cursor: pointer;
    padding:1rem;
    font-size: 1.7rem;
  border-radius: 6px;
    border: none;
    transition: all 0.3s ease;
}
.c-btn:hover{
    background-color: rgb(57, 118, 230);
    color:white;
    transform:scale(1.2);
}
#cont{
    width:100%;
    background-color: rgba(0 0 0 / 0.1);
   
}
.cont-row{
    display: flex;
   
    justify-content: space-evenly;
    align-items: center;
}
.cont-col-1{
    flex-basis: 40%;
   
    max-width: 50rem;
}
.cont-col-1 img{
    width:100%;
}
.cont-col-2{
    flex-basis: 60%;
    max-width: 50rem;
}
.cont-col-2  h1{
    font-size: 7.5rem;
}
.cont-col-2 h1 span{
    color:cornflowerblue;
}
.cont-col-2 h4{
    font-size: 4rem;
    letter-spacing: 4.8rem;
    color:grey;
    margin:1rem 0rem;
}
#service{
    width:100%;
}
.service-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service-row h1{
    margin-top: 2rem;
    font-size: 4.5rem;

}
.service-row h1 span{
    color:cornflowerblue;
}
.service-row h2{
    font-size: 2.4rem;
}
.grid{
    display: flex;
    margin: 2rem;
    flex-wrap: wrap;
justify-content: center;
align-items: center;
    width:80%;
  
    padding:1rem;
}
.box{
   
    text-align: center;
  width:30rem;
  margin:2rem;
    box-shadow: 0px 3px 10px grey;
    padding:1rem;
}
.box i{
    color:cornflowerblue;
    font-size: 4.6rem;
    margin:1rem;
}
.box p{
    font-size: 1.6rem;
    margin:1rem;
}

.member-row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:3rem 2rem;
    flex-direction: column;
}
.member-row h2{
    font-size: 5rem;
}
.member-row h2 span{
    color:cornflowerblue;
}
.member-row h3{
    font-size:3rem;
    font-weight: 200;
}
.image{
    border-radius:100px;
    width:12rem;
    height: 12rem;
}
#member1{
    width:100%;
    background-color:rgba(0 0 0 / 0.1);
    height: auto;
}
.image img{
    width:100%;
    height:95%;
    border-radius:100px;
    
}
.member-row p{
    font-size: 1.9rem;
    width:45%;
    text-align: center;
    margin:1rem;
}
.member-row> img{
    width:190px;
    cursor: pointer;
}

.grid >.box{
    padding:0.2rem;
}
.box >img{
    width:100%;
    overflow: hidden;
    height:100%;
}
.touch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  

}
.touch h1{
    font-size: 5rem;
}
.touch h1 span{
    color:cornflowerblue;
}
.touch h2{
    font-size: 3rem;
}
.touch-row{
    width:100%;
    display: flex;
padding-top: 4rem;   
    justify-content: space-evenly;
    align-items: center;
    
}
.touch-col-1{
   
    flex-basis: 50%;
    
    max-width: 40rem;
 
}
.touch-col-1 form{
    max-width: 45rem;
   
}
.touch-col-2{
    flex-basis: 50%;
    max-width: 40rem;
  
}
.touch-col-1 form input{
    width:90%;
    margin:0.6rem;
    padding:1rem;
    font-size: 1.5rem;
}
.touch-col-1 form textarea{
    width:90%;
    margin:0.6rem;
    padding:1rem;
    font-size: 1.5rem;  
}
.box2-cover{
    display: flex;
   margin:2rem;
   
    flex-direction: column;
}
.box1{
   
    display: flex;
   align-items: center;
}
.box1 i{
    font-size: 4rem;
    margin-right: 1.5rem;
   color:cornflowerblue;
}
.box1 h3{
    font-size:2rem;
}
.box2-cover p{
    color:grey;
    font-size: 1.4rem;
    margin: 0.8rem 0rem;
}
.btn:hover{
    background-color: cornflowerblue;
    color:white;
    transform:scale(0.98);
}
.b-btn{
  
    position: relative;
    width:90%;
    background-color: black;
    color:white;
    border:none;
    border-radius: 0;
}
footer{
    width:100%;
    margin-top: 2rem;
    background-color: black;
    color:white;
}
footer p{
    padding:1rem;
    font-size: 1.5rem;
    text-align: center;
}
.togglearea{
    display: none;
}
#toggle{
    display: none;
}
.togglearea i{
    font-size: 2.4rem;
    border: 1px solid white;
    padding:1rem;
    border-radius: 5px;
}